{% extends "static/tpl/base.html" %}

{% block content %}

<form class="form-horizontal" action="/am/chk/add" method='post'>
  <div class="control-group">
    <label class="control-label" for="inputName" contenteditable="true">Name</label>
    <div class="controls">
      <input id="inputName" name="Name" placeholder="eg:test" type="text">
      <span class="help-block" >Must Input. this name is for check url,don't contain blank</span>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="inputDesc" contenteditable="true">Descript</label>
    <div class="controls">
      <textarea id="inputDesc" name="Desc" placeholder="input something." type="text"></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="selectSiteType" contenteditable="true">SiteType</label>
    <div class="controls">
      <select id="selectSiteType" name="SiteType" >
      	<option value="wooyun_submit">Wooyun_Submit_RSS</option>
      	<option value="">CNVD...</option>
      </select>
      <span class="help-block">If leave blank, means see all info. This will sent a email everyday by default.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputKeyWords" contenteditable="true">KeyWords</label>
    <div class="controls">
      <input id="inputKeyWords" name="KeyWords" placeholder="eg:注入，电信" type="text">
      <span class="help-block">If leave blank, means see all info. This will sent a email everyday by default.</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox" >
        <input type="checkbox" name="isNotice">Send Notice</label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmails" contenteditable="true">KeyWords</label>
    <div class="controls">
      <input id="inputEmails" name="Emails" placeholder="eg:test@test.com,admin@test.com" type="text">
    </div>
  </div>
    <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
</form>
{% endblock %}